<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <Photon>
    <NameServer>
      <MasterServerPortUdp>{#PublicMasterServerPortUdp#}</MasterServerPortUdp>
      <MasterServerPortTcp>{#PublicMasterServerPortTcp#}</MasterServerPortTcp>
      <MasterServerPortWebSocket>{#PublicMasterServerPortWebSocket#}</MasterServerPortWebSocket>
      <MasterServerWsPath>{#MasterServerWsUrlPath#}</MasterServerWsPath>
      <MasterServerPortSecureWebSocket>{#PublicMasterServerPortSecureWebSocket#}</MasterServerPortSecureWebSocket>
      <NameServerConfig>NameServer.json</NameServerConfig>
    </NameServer>

    <Authentication>
      <AuthTokenKey>{#AuthTokenKey#}</AuthTokenKey>
      <HMACTokenKey>{#HMACTokenKey#}</HMACTokenKey>

      <AuthTokenExpirationSeconds>1800</AuthTokenExpirationSeconds>

    </Authentication>

    <CustomAuth Enabled="true" AllowAnonymous="true">

      <!-- Custom Authentication Queue Settings -->
      <HttpQueueSettings>
        <MaxConcurrentRequests>50</MaxConcurrentRequests>
        <MaxQueuedRequests>5000</MaxQueuedRequests>
        <MaxErrorRequests>100</MaxErrorRequests>
        <MaxTimedOutRequests>10</MaxTimedOutRequests>
        <HttpRequestTimeout>30000</HttpRequestTimeout>
        <ReconnectInterval>60000</ReconnectInterval>
        <QueueTimeout>20000</QueueTimeout>
        <MaxBackoffTime>10000</MaxBackoffTime>
        <LimitHttpResponseMaxSize>{#NSCustomAuthLimitHttpResponseMaxSize#}</LimitHttpResponseMaxSize>
      </HttpQueueSettings>

      <AuthProviders>
        <AuthProvider Name="Custom"
                      AuthenticationType="0"
                      AuthUrl="http://localhost:55533"
                      RejectIfUnavailable="false"
                      ForwardAsJSON="false">
                      <CustomAttributes key1="val1" key2="val2" />
        </AuthProvider>

        <AuthProvider Name="Steam"
                      AuthenticationType="1"
                      AuthUrl=""
                      RejectIfUnavailable="false">
                      <CustomAttributes apiKeySecret="steamSecret" appid="steamAppId" verifyOwnership="true" verifyVacBan="true" verifyPubBan="true" />
        </AuthProvider>

        <AuthProvider Name="Facebook"
                      AuthenticationType="2"
                      AuthUrl=""
                      RejectIfUnavailable="false">
                      <CustomAttributes secret="fbSecret" AppId="fbAppId" />
        </AuthProvider>

        <AuthProvider Name="Oculus"
                      AuthenticationType="3"
                      AuthUrl=""
                      RejectIfUnavailable="false">
                      <CustomAttributes appsecret="oculusSecret" appid="oculusAppId" />
        </AuthProvider>

        <AuthProvider Name="Viveport"
                      AuthenticationType="10"
                      AuthUrl=""
                      RejectIfUnavailable="false">
                      <CustomAttributes appsecret="viveportSecret" appid="viveportAppId" />
        </AuthProvider>
      </AuthProviders>
    </CustomAuth>

    <SocketServer>
      <TlsProxyTermination Enabled="{#TlsProxyTerminationEnabled#}" HeaderName="{#TlsProxyTerminationHeaderName#}" HeaderValue="{#TlsProxyTerminationHeaderValue#}" />
    </SocketServer>

  </Photon>

</Configuration>
