<?xml version="1.0" encoding="Windows-1252"?>
<!--
	(c) 2010 by Exit Games GmbH, http://www.exitgames.com
	Photon server configuration file.
	For details see the photon-config.pdf.

-->
<Configuration>
<NSLoadTest 
	MaxMessageSize="512000"
	MaxQueuedDataPerPeer="1000"
	PerPeerMaxReliableDataInTransit="51200"
	PerPeerTransmitRateLimitKBSec="256"
	PerPeerTransmitRatePeriodMilliseconds="200"
	MinimumTimeout="5000"
	MaximumTimeout="30000"
	ShutdownTimeout="0"
	>

<ConfigServer
		IPAddress="127.0.0.1"
		Port="16061"
		ListenBacklog="5">
	</ConfigServer>	
			
	<!-- Defines the Photon Runtime Assembly to use. -->
	<Runtime
		Assembly="PhotonHostRuntime, Culture=neutral"
		Type="PhotonHostRuntime.PhotonDomainManager"
		CLRVersion="v4.0"
		UnhandledExceptionPolicy="Ignore">
	</Runtime>

	<!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
	<!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
	<Applications Default="LoadTest">			
		<Application
			Name="LoadTest"
			BaseDirectory="LoadTest"
			Assembly="LoadTest"
			Type="LoadTest.Application"
			ApplicationRootDirectory="NameServer"
			>
		</Application>
	</Applications>
</NSLoadTest>
</Configuration>
